In [66]:

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
 
# Importing the database
dataset = pd.read_csv('dataset/Churn_Modelling.csv')

In [67]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [68]:
X = dataset.iloc[:, 3:13].values
Y = dataset.iloc[:, 13].values
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [69]:
Y

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

In [70]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_1 = LabelEncoder() 
X[:,1] = labelencoder_X_1.fit_transform(X[:,1]) 
labelencoder_X_2 = LabelEncoder() 
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])
X

array([[619, 0, 0, ..., 1, 1, 101348.88],
       [608, 2, 0, ..., 0, 1, 112542.58],
       [502, 0, 0, ..., 1, 0, 113931.57],
       ...,
       [709, 0, 0, ..., 0, 1, 42085.58],
       [772, 1, 1, ..., 1, 0, 92888.52],
       [792, 0, 0, ..., 1, 0, 38190.78]], dtype=object)

In [71]:
from sklearn.compose import ColumnTransformer

# Assuming X is a DataFrame with columns to be one-hot encoded
column_transformer = ColumnTransformer(
    transformers=[
        ('onehot', OneHotEncoder(), [1])  # Replace [1] with the column indices you want to encode
    ],
    remainder='passthrough'
)

X = column_transformer.fit_transform(X)
X.shape

(10000, 12)

In [72]:
#Splitting the dataset into the Training set and the Test Set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2)

In [73]:
from sklearn.preprocessing import StandardScaler 
sc = StandardScaler() 
X_train = sc.fit_transform(X_train) 
X_test = sc.transform(X_test)

In [74]:
# Importing the Keras libraries and packages 
import keras 
from keras.models import Sequential 
from keras.layers import Dense

In [75]:
classifier = keras.Sequential([
    keras.layers.Dense(6,kernel_initializer='uniform',activation='relu',input_dim=12),
    keras.layers.Dense(6,kernel_initializer='uniform',activation='relu'),
    keras.layers.Dense(1,kernel_initializer='uniform',activation='sigmoid')
])

classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [76]:
classifier.fit(X_train, y_train, batch_size = 10, epochs = 50)

Epoch 1/50

800/800 [==============================] - 2s 1ms/step - loss: 0.4936 - accuracy: 0.7955
Epoch 2/50
800/800 [==============================] - 1s 1ms/step - loss: 0.4256 - accuracy: 0.7968
Epoch 3/50
800/800 [==============================] - 1s 1ms/step - loss: 0.4184 - accuracy: 0.7968
Epoch 4/50
800/800 [==============================] - 1s 1ms/step - loss: 0.4135 - accuracy: 0.8234
Epoch 5/50
800/800 [==============================] - 1s 1ms/step - loss: 0.4103 - accuracy: 0.8329
Epoch 6/50
800/800 [==============================] - 1s 1ms/step - loss: 0.4084 - accuracy: 0.8341
Epoch 7/50
800/800 [==============================] - 1s 1ms/step - loss: 0.4064 - accuracy: 0.8354
Epoch 8/50
800/800 [==============================] - 1s 1ms/step - loss: 0.4047 - accuracy: 0.8351
Epoch 9/50
800/800 [==============================] - 1s 1ms/step - loss: 0.4033 - accuracy: 0.8381
Epoch 10/50
800/800 [==============================] - 1s 1ms/step - loss: 0.4020 - accuracy: 0.8378
Epoch 11/50
800/800 [==============================] - 1s 1ms/step - loss: 0.4011 - accuracy: 0.8394
Epoch 12/50
800/800 [==============================] - 1s 1ms/step - loss: 0.4000 - accuracy: 0.8379
Epoch 13/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3995 - accuracy: 0.8394
Epoch 14/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3988 - accuracy: 0.8403
Epoch 15/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3981 - accuracy: 0.8388
Epoch 16/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3977 - accuracy: 0.8400
Epoch 17/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3972 - accuracy: 0.8400
Epoch 18/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3969 - accuracy: 0.8400
Epoch 19/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3966 - accuracy: 0.8416
Epoch 20/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3961 - accuracy: 0.8407
Epoch 21/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3957 - accuracy: 0.8396
Epoch 22/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3956 - accuracy: 0.8411
Epoch 23/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3951 - accuracy: 0.8396
Epoch 24/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3938 - accuracy: 0.8411
Epoch 25/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3937 - accuracy: 0.8406
Epoch 26/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3923 - accuracy: 0.8420
Epoch 27/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3915 - accuracy: 0.8428
Epoch 28/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3899 - accuracy: 0.8414
Epoch 29/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3903 - accuracy: 0.8425
Epoch 30/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3895 - accuracy: 0.8424
Epoch 31/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3894 - accuracy: 0.8415
Epoch 32/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3887 - accuracy: 0.8424
Epoch 33/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3880 - accuracy: 0.8430
Epoch 34/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3876 - accuracy: 0.8438
Epoch 35/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3878 - accuracy: 0.8425
Epoch 36/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3871 - accuracy: 0.8436
Epoch 37/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3870 - accuracy: 0.8421
Epoch 38/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3866 - accuracy: 0.8414
Epoch 39/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3864 - accuracy: 0.8424
Epoch 40/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3866 - accuracy: 0.8432
Epoch 41/50
800/800 [==============================] - 1s 2ms/step - loss: 0.3859 - accuracy: 0.8436
Epoch 42/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3851 - accuracy: 0.8431
Epoch 43/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3850 - accuracy: 0.8429
Epoch 44/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3851 - accuracy: 0.8428
Epoch 45/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3846 - accuracy: 0.8438
Epoch 46/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3848 - accuracy: 0.8432
Epoch 47/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3841 - accuracy: 0.8435
Epoch 48/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3847 - accuracy: 0.8400
Epoch 49/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3841 - accuracy: 0.8444
Epoch 50/50
800/800 [==============================] - 1s 1ms/step - loss: 0.3838 - accuracy: 0.8430

In [77]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

63/63 [==============================] - 0s 1ms/step

In [78]:
new_prediction = classifier.predict(sc.transform
(np.array([[0.0, 0, 500, 1, 40, 3, 50000, 2, 1, 1, 40000]])))
new_prediction = (new_prediction > 0.5)

ValueError: X has 11 features, but StandardScaler is expecting 12 features as input.

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print (cm)